@import "nav.css";

*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-image: url(imagenes/edit.png);
    background-size:cover;
    color:white;
}

.container{
    position: relative;
    text-align: center;
    text-align: center;
    margin-top: 120px;
}

.centrado{
    position: absolute;
    top: 222px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 20px;
}


.Rectangle{
    position: absolute;
    top: 288px;
    left: 405px;
}

.avatar{
    position: absolute;
    top: 309px;
    left: 771px;
}

.nombre{
    position: absolute;
    top: 464px;
    left: 779px;
    font-size: 20px;
}

.RectangleName{
    position: absolute;
    top: 439px;
    left: 756px;
    width: 30px;
    height: 30px;
}

.editorName{
    position: absolute;
    top: 420px;
    left: 880px;
    width: 30px;
    height: 30px;
}

.line{
    position: absolute;
    top: 613px;
    left: 448px;
}

.choose{
    position: absolute;
    top: 564px;
    left: 454px;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 5px;
}

.buttonSave {
    position:absolute;
    top: 1160px;
    left: 44%;
    width: 20%;
    height: 4%;
    color: #2c3435;
    border: 50px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);
}

    .buttonSave:hover{
    background: rgba(255, 255, 255, 0.3);
    color:white;
    transition: 0.2s;
    }


.later{
    position: absolute;
    top: 1110px;
    left: 810px;
    background: fixed;
    color:#00ff37;
    border: 50px;
    cursor: pointer;
    font-size: 14px;
    z-index: 1;
}


.carousel__contenedor{
    position: relative;
    justify-content: center;
    margin-top: 11%;
    top: 445px;
    left: 464px;
}

    .carousel__lista{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: none;
        width: 677px;
        height: 495px;
        margin: 24px;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    .carousel__lista p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: lighter;
        color: white;
        text-align: center;
        margin-top: 15px;
    }

    .carousel__lista div{
        margin: 15px;
    }

    .carousel__lista div img:hover{
        transform: scale(1.10);
        transition: 0.5s;
    }

        .new{
            width: 100%;
        }

        .rogue{
            width: 100%;
        }

        .force{
            width: 100%;
        }

        .jedi{
            width: 100%;
        }


    .carousel__anterior{
        position: absolute;
        width: 46px;
        height: 82px;
        cursor: pointer;
        object-fit: cover;
        background: none;
        border: none;
        left: -2%;
        top: 27%;
        transform: translate(0%, -50%);
    }

    .carousel__siguiente{
        position: absolute;
        width: 18px;
        height: 40px;
        cursor: pointer;
        object-fit: cover;
        background: none;
        border: none;
        right: 56%;
        top: 27%;
        transform: translate(0%, -50%);
    }


    .texto-encima1{
        position: absolute;
        top: 900px;
        left: 29%;
        font-size: 14px;
        font-weight: lighter;
        letter-spacing: 5px;
    }

    .First{
        margin: .4rem 0;
        position: absolute;
        top: 944px;
        left: 29%;
        height: 4%;
        width: 20%;
        background-color: transparent;
        border-color: white;
        border-radius: 5px;
        color: white;
    }

    .texto-encima2 {
        position: absolute;
        top: 900px;
        left: 54%;
        font-size: 14px;
        font-weight: lighter;
        letter-spacing: 5px;
    }

    .Last{
        margin: .4rem 0;
        position: absolute;
        top: 940px;
        left: 54%;
        height: 4%;
        width: 20%;
        border-radius: 5px;
        border-color: white;
        background-color: transparent;
        color: white;
    }

    .texto-encima3{
        position: absolute;
        top: 990px;
        left: 29%;
        font-size: 14px;
        font-weight: lighter;
        letter-spacing: 5px;
    }

    .Email{
        margin: .4rem 0;
        position: absolute;
        top: 1030px;
        left: 29%;
        height: 4%;
        width: 20%;
        border-radius: 5px;
        border-color: white;
        background-color: transparent;
        color: white;
    }

    .texto-encima4 {
        position: absolute;
        top: 990px;
        left: 54%;
        font-size: 14px;
        font-weight: lighter;
        letter-spacing: 5px;
    }

    .password{
        margin: .4rem 0;
        position: absolute;
        top: 1030px;
        left: 54%;
        height: 4%;
        width: 20%;
        border-radius: 5px;
        border-color: white;
        background-color: transparent;
        color: white;
    }

    ::placeholder{
        color: white;
        opacity:70%;
    }
