@import "nav.css";

*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-image: url(imagenes/edit.png);
    background-size:cover;
    color:white;
}

.container{
    position: relative;
    text-align: center;
    text-align: center;
    margin-top: 120px;
}

.centrado{
    position: absolute;
    top: 54px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 20px;
}

.Rectangle{
    position: absolute;
    top: 119px;
    left: 321px;
}

.avatar{
    position: absolute;
    top: 132px;
    left: 680px;;
}

.nombre{
    position: absolute;
    top: 291px;
    left: 690px;
    font-size: 20px;
}

.RectangleName{
    position: absolute;
    top: 269px;
    left: 672px;
    width: 30px;
    height: 30px;
}

.editorName{
    position: absolute;
    top: 420px;
    left: 880px;
    width: 30px;
    height: 30px;
}

.line{
    position: absolute;
    top:402px ;
    left: 360px;
}

.choose{
    position: absolute;
    top: 361px;
    left: 382px;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 5px;
}

.buttonSave {
    position:absolute;
    top:955px;
    left: 40%;
    width: 20%;
    height: 11%;
    background-color:rgb(255, 255, 255 / 66%);
    color: #2c3435;
    border: 50px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

    .buttonSave:hover{
    background: rgba(255, 255, 255, 0.3);
    color:white;
    transition: 0.2s;
    }


.later{
    position: absolute;
    top: 989px;
    left:730px ;
    background: fixed;
    color:#00ff37;
    border: 50px;
    cursor: pointer;
    font-size: 14px;
    z-index: 1;
}


.carousel__contenedor{
    position: relative;
    justify-content: center;
    margin-top: 3%;
    top: 450px;
    left:340px;
}

    .carousel__lista{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: none;
        width: 650px;
        height: 500px;
        margin: 5px;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    .carousel__lista p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: lighter;
        color: white;
        text-align: center;
        margin-top: 15px;
    }

    .carousel__lista div{
        margin: 15px;
    }

    .carousel__lista div img:hover{
        transform: scale(1.10);
        transition: 0.5s;
    }

        .new{
            width: 100%;
        }

        .rogue{
            width: 100%;
        }

        .force{
            width: 100%;
        }

        .jedi{
            width: 100%;
        }


    .carousel__anterior{
        position: absolute;
        width: 40px;
        height: 40px;
        cursor: pointer;
        object-fit: cover;
        background: none;
        border: none;
        left: -2%;
        top: 50%;
        transform: translate(0%, -50%);
    }

    .carousel__siguiente{
        position: absolute;
        width: 40px;
        height: 40px;
        cursor: pointer;
        object-fit: cover;
        background: none;
        border: none;
        right: 47%;
        top: 50%;
        transform: translate(0%, -50%);
    }


    .texto-encima1{
        position: absolute;
        top: 122%;
        left: 26%;
        font-size: 14px;
        font-weight: lighter;
        letter-spacing: 5px;
    }

    .First{
        margin: .4rem 0;
        position: absolute;
        top: 128%;
        left: 26%;
        height: 4%;
        width: 20%;
        background-color: transparent;
        border-color: white;
        border-radius: 5px;
        color: white;
    }

    .texto-encima2 {
        position: absolute;
        top: 122%;
        left: 54%;
        font-size: 14px;
        font-weight: lighter;
        letter-spacing: 5px;
    }

    .Last{
        margin: .4rem 0;
        position: absolute;
        top: 128%;
        left: 54%;
        height: 4%;
        width: 20%;
        border-radius: 5px;
        border-color: white;
        background-color: transparent;
        color: white;
    }

    .texto-encima3{
        position: absolute;
        top: 138%;
        left: 26%;
        font-size: 14px;
        font-weight: lighter;
        letter-spacing: 5px;
    }

    .Email{
        margin: .4rem 0;
        position: absolute;
        top: 144%;
        left: 26%;
        height: 4%;
        width: 20%;
        border-radius: 5px;
        border-color: white;
        background-color: transparent;
        color: white;
    }

    .texto-encima4 {
        position: absolute;
        top: 138%;
        left: 54%;
        font-size: 14px;
        font-weight: lighter;
        letter-spacing: 5px;
    }

    .password{
        margin: .4rem 0;
        position: absolute;
        top: 144%;
        left: 54%;
        height: 4%;
        width: 20%;
        border-radius: 5px;
        border-color: white;
        background-color: transparent;
        color: white;
    }

    ::placeholder{
        color: white;
        opacity:70%;
    }
