*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

nav{
    position: sticky;
    background:transparent;
    height: 120px;
    width: 100%;
    overflow: hidden;
    flex-direction: row;
    z-index: 99;
}

.start{
    position: fixed;
    background-color: transparent;
    border: none;
    padding: 40px 45px;
    cursor: pointer;
    top: 0px;
}

    .deathstar{
        height: 55px;
    }


.navbar{
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 20px;
}

.display{
    position: fixed;
    display: block;
    padding: 10px;
    margin: auto;
    text-align: center;
    top: 20px;

}

    .displaybackground{
        width: 85%;
        margin: 0px 5px;
    }

        .textdisplay{
            position: fixed;
            text-align: center;
            display: flex;
            flex-direction: row;
            float: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            top: 5px;
        }

        .textdisplay li{
            display: inline-block;
            line-height: 10px;
            margin: 40px 5px;
        }
            .textdisplay li a{
                color: white;
                padding: 10px 30px;
                border-radius: 3px;
            }

            li a.active, li a:hover{
                background-color: rgb(83, 108, 129);
                transition: 2s;
                cursor: pointer;
            }

.signup{
    position: fixed;
    background-color: transparent;
    border: none;
    right: 40px;
    top: 45px;
    cursor: pointer;
}
    .login{
        position: fixed;
        right: 100px;
        top: 55px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    .log{height: 40px;
    margin-top: -20px;}

#check{
    display: none;
}

.body{
    background-image: url(imagenes/new.png);
    background-size:cover;
    background-repeat: no-repeat;
    margin: 100px

}
.title {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 20px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.rect{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 1220px;
    height: 500px;

}

/*filmscontainer*/

.filmscontainer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}

    .sliderfilms{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: none;
        width: 1100px;
        height: 500px;
        margin: 5px;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    .sliderfilms p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: lighter;
        color: white;
        text-align: left;
        margin-top: 15px;
    }

    .sliderfilms div{
        margin: 15px;
    }

    .sliderfilms div img:hover{
        transform: scale(1.10);
        transition: 0.5s;
    }

        .new{
            width: 100%;
        }

        .rogue{
            width: 100%;
        }

        .force{
            width: 100%;
        }

        .jedi{
            width: 100%;
        }


    .filmscontainer .controlizq{
        position: absolute;
        width: 40px;
        height: 40px;
        cursor: pointer;
        object-fit: cover;
        left: 1%;
        top: 50%;
        transform: translate(0%, -50%);
    }

    .filmscontainer .controlder{
        position: absolute;
        width: 40px;
        height: 40px;
        cursor: pointer;
        object-fit: cover;
        right: 1%;
        top: 50%;
        transform: translate(0%, -50%);
    }
