@import "nav.css";
*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.body{
    background-image: url(imagenes/original\ 1.png);
    background-size:cover;
    background-repeat: no-repeat;


}


.titulo{
    position: absolute;
    top: 130px;
    left: 700px;
    font-size: 30px;
    letter-spacing: 20px;
    color: white;
}


.todo{
    position: relative;

    margin-top: 120px;
}
.Hans{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.rect{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 1300px;
    right: 40px;

}

    .carousel__contenedorfilmsl{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }


.carousel__lista{

flex-direction: row;
        justify-content: center;
        align-items: center;
        background: none;
        width: 1000px;
        height: 330px;
        margin: 5px;
        overflow: hidden;
        scroll-behavior: smooth;

}

        .carousel__lista input{
            display: flex;
            flex-direction: row;
        }
        #fav{
            display: none;
        }

        .carousel__lista iframe{
            border-radius: 5px;
        }

        .carousel__lista p{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            letter-spacing: 5px;
            text-align: center;
            color: white;
        }

        .carousel__lista button{
            background: rgba(255, 255, 255, 0.3);
            color: white;
            border-radius: 5px;
            width: 100px;
            height: 30px;
            cursor: pointer;
            border: none;
        }

        .carousel__lista button:hover{
            background: #7FEBFB;
            color: #00424B;
            transition: 0.2s;
        }

.trailer1{
    position: relative;
    left: 20px;
    opacity: 70%;


}
        .fav1{
            position: fixed;
            width: 20px;
            top: 580px;
            left: 530px;

        }

        .fav1:hover{
            transform: scale(1.15);
            transition: 0.5s;

        }

            .heart1{
                width: 25px;

            }

    .btntrailer1{
        width: 380px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        margin-top: 10px;
    }

    .trailers input img{
        position: sticky;
        top: 10px;
        width: 10px;
    }

.trailer2{
    position: relative;
    z-index: 99;
    opacity: 100%;

}

        .fav2{
            position: fixed;
            width: 20px;
            top: 590px;
            left: 980px;

        }

        .fav2:hover{
            transform: scale(1.15);
            transition: 0.5s;
        }

            .heart2{
                width: 30px;

            }


    .btntrailer2{
        width: 450px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        margin-top: 10px;
    }

        .btntrailer2:hover{
            background-color: 7FEBFB;
            transition: 0.5s;
        }


    .trailer3{
        position: relative;
        right: 20px;
        opacity: 70%;


    }
        .btntrailer3{
            width: 380px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 40px;
            margin-top: 10px;
        }

        .fav3{
            position: fixed;
            width: px;
            top: 580px;
            left: 1350px;

        }

        .fav3:hover{
            transform: scale(1.15);
            transition: 0.5s;
        }

            .heart3{
                width: 25px;

            }

        .trailer3{
        position: relative;
        right: 20px;
        opacity: 70%;


    }
        .btntrailer3{
            width: 380px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 40px;
            margin-top: 10px;
        }

        .fav3{
            position: fixed;
            width: px;
            top: 580px;
            left: 1350px;

        }

        .fav3:hover{
            transform: scale(1.15);
            transition: 0.5s;
        }

            .heart3{
                width: 25px;

            }




            .trailer4{
                position: relative;
                right: 20px;
                opacity: 70%;


            }
                .btntrailer4{
                    width: 380px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 40px;
                    margin-top: 10px;
                }

                .fav4{
                    position: fixed;
                    width: px;
                    top: 580px;
                    left: 1350px;

                }

                .fav4:hover{
                    transform: scale(1.15);
                    transition: 0.5s;
                }

                    .heart4{
                        width: 25px;

                    }

                     .trailer4{
                position: relative;
                right: 20px;
                opacity: 70%;


            }
                .btntrailer4{
                    width: 380px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 40px;
                    margin-top: 10px;
                }

                .fav4{
                    position: fixed;
                    width: px;
                    top: 580px;
                    left: 1350px;

                }

                .fav4:hover{
                    transform: scale(1.15);
                    transition: 0.5s;
                }

                    .heart4{
                        width: 25px;

                    }


            .carousel__anterior{

                width: 40px;
                height: 40px;
                cursor: pointer;
                object-fit: cover;
                background: none;
                left: 5%;
                top: 60%;
                transform: translate(0%, -50%);
            }

            .carousel__siguiente{

                width: 40px;
                height: 40px;
                cursor: pointer;
                object-fit: cover;
                background: none;
                right:5%;
                top:60%;
                transform: translate(0%, -50%);
            }

