*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}



/*Barra de navegación*/
nav{
    position: sticky;
    background:transparent;
    height: 120px;
    width: 100%;
    overflow: hidden;
    flex-direction: row;
    z-index: 99;
}

.start{
    position: fixed;
    background-color: transparent;
    border: none;
    padding: 40px 45px;
    cursor: pointer;
    top: 0px;
}

    .deathstar{
        height: 55px;
    }


.navbar{
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 20px;
}

.display{
    position: fixed;
    display: block;
    padding: 10px;
    margin: auto;
    text-align: center;
    top: 20px;

}

    .displaybackground{
        width: 85%;
        margin: 0px 5px;
    }

        .textdisplay{
            position: fixed;
            text-align: center;
            display: flex;
            flex-direction: row;
            float: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            top: 5px;
        }

        .textdisplay li{
            display: inline-block;
            line-height: 10px;
            margin: 40px 5px;
        }
            .textdisplay li a{
                color: white;
                padding: 10px 30px;
                border-radius: 3px;
            }

            li a.active, li a:hover{
                background-color: rgb(83, 108, 129);
                transition: 2s;
                cursor: pointer;
            }

.signup{
    position: fixed;
    background-color: transparent;
    border: none;
    right: 40px;
    top: 45px;
    cursor: pointer;
}
    .login{
        position: fixed;
        right: 100px;
        top: 55px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    .log{height: 40px;
    margin-top: -20px;}

#check{
    display: none;
}



body {
    background-image: url(imagenes/welccome.png);
    background-size:cover;
    color:white;
}

.container{
    position: relative;
    margin-top: 120px;
    text-align: center;
    text-align: center;
}

.centrado{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 20px;
}

.already{
    position:absolute;
    top:25%;
    left:40%;
    font-size: 14px;
    letter-spacing: 4px;
}

.buttonLog{
    position: absolute;
    top: 27%;
    left:55% ;
    background: fixed;
    color: aqua;
    border: 50px;
    font-weight: bold;
}

.texto-encima1{
    position: absolute;
    top: 35%;
    left: 25%;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 5px;
}

.First{
    margin: .4rem 0;
    position: absolute;
    top: 42%;
    left: 25%;
    height: 4%;
    width: 20%;
    background-color: transparent;
    border-color: white;
    border-radius: 5px;
    color: white;
}

.texto-encima2 {
    position: absolute;
    top: 35%;
    left: 55%;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 5px;
}

.Last{
    margin: .4rem 0;
    position: absolute;
    top: 42%;
    left: 55%;
    height: 4%;
    width: 20%;
    border-radius: 5px;
    border-color: white;
    background-color: transparent;
    color: white;
}

.texto-encima3{
    position: absolute;
    top: 55%;
    left: 25%;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 5px;
}

.Email{
    margin: .4rem 0;
    position: absolute;
    top: 62%;
    left: 25%;
    height: 4%;
    width: 20%;
    border-radius: 5px;
    border-color: white;
    background-color: transparent;
    color: white;
}

.texto-encima4 {
    position: absolute;
    top: 55%;
    left: 55%;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 5px;
}

.password{
    margin: .4rem 0;
    position: absolute;
    top: 62%;
    left: 55%;
    height: 4%;
    width: 20%;
    border-radius: 5px;
    border-color: white;
    background-color: transparent;
    color: white;
}

::placeholder{
    color: white;
    opacity:70%;
}

.avatar{
    position: absolute;
    top:87%;
    left:45%;
    color:white;;
    font-size: 14px;
    letter-spacing: 4px;

}

.buttonCreate {
    position:absolute;
    top:78%;
    left: 40%;
    width: 20%;
    height: 5%;
    background-color: #7FEBFB;
    color: #00424B;
    border: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.buttonCreate:hover{
    background: rgba(255, 255, 255, 0.3);
    color: white;
    transition: 0.2s;
}




