*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}



/*Barra de navegación*/
nav{
    position: sticky;
    background:transparent;
    height: 120px;
    width: 100%;
    overflow: hidden;
    flex-direction: row;
    z-index: 99;
}

.start{
    position: fixed;
    background-color: transparent;
    border: none;
    padding: 40px 45px;
    cursor: pointer;
    top: 0px;
}

    .deathstar{
        height: 55px;
    }


.navbar{
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 20px;
}

.display{
    position: fixed;
    display: block;
    padding: 10px;
    margin: auto;
    text-align: center;
    top: 20px;

}

    .displaybackground{
        width: 85%;
        margin: 0px 5px;
    }

        .textdisplay{
            position: fixed;
            text-align: center;
            display: flex;
            flex-direction: row;
            float: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            top: 5px;
        }

        .textdisplay li{
            display: inline-block;
            line-height: 10px;
            margin: 40px 5px;
        }
            .textdisplay li a{
                color: white;
                padding: 10px 30px;
                border-radius: 3px;
            }

            li a.active, li a:hover{
                background-color: rgb(83, 108, 129);
                transition: 2s;
                cursor: pointer;
            }

.signup{
    position: fixed;
    background-color: transparent;
    border: none;
    right: 40px;
    top: 45px;
    cursor: pointer;
}
    .login{
        position: fixed;
        right: 100px;
        top: 55px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    .log{height: 40px;
    margin-top: -20px;}

#check{
    display: none;
}


body {

    background-image: url(imagenes/2828899\ 1.png);
    background-size:cover;
    color:white;
}

.container{
    position: relative;
    text-align: center;
    text-align: center;
    margin-top: 120px;
}

.centrado{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 20px;
}


.texto-encima1{
    position: absolute;
    top: 200px;
    left: 35%;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 5px;
}

.Email{
    margin: .4rem 0;
    position: absolute;
    top: 25%;
    left: 35%;
    height: 4%;
    width: 420px;
    border-radius: 5px;
    background-color: transparent;
    border-color: white;
    color: white;
}
::placeholder{
    color: white;
    opacity:70%;
}



.texto-encima2{
    position: absolute;
    top: 320px;
    left: 35%;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 5px;
}

.password{
    margin: .4rem 0;
    position: absolute;
    top: 38%;
    left: 35%;
    height: 4%;
    border-radius: 5px;
    background-color: transparent;
    border-color: white;
    width: 420px;
    color: white;
}

.checkbox{
    margin: .4rem 0;
    position: absolute;
    top: 440PX;
    left: 35%;
    cursor: pointer;
}


.forgotPassword{
    position: absolute;
    top: 450px;
    left: 55%;
    background: fixed;
    color: #00424B;
    border: 50px;
    cursor: pointer;
    font-weight: bold;
}

.buttonSign {
    position:absolute;
    top:65%;
    left: 40%;
    width: 20%;
    height: 5%;
    background-color: #7FEBFB;
    color: #00424B;
    border: 50px;
    border-radius: 5px;
    cursor: pointer;
}

    .buttonSign:hover{
        background: rgba(255, 255, 255, 0.3);
        color: white;
        transition: 0.2s;
    }

.buttonGoogle{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: -185px;
    left: 40%;
    width: 20%;
    height: 40px;
    background-color: transparent;
    border-color: white;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

.buttonGoogle p{
    position: relative;
    left: 30px;
}

    .buttonGoogle:hover{
        background: rgba(255, 255, 255, 0.3);
        color: white;
        border: none;
        transition: 0.2s;
    }

.googleImg{
    position:relative;
    left: -130px;
}

.Dont{
    position:absolute;
    top:700px;
    left: 40%;
    font-size: 14px;
}

.buttonUp{
    position: absolute;
    top: 710px;
    left:56% ;
    background: fixed;
    color: aqua;
    border: 50px;
    cursor: pointer;
    font-size: 14px;
}
