*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;


}

/*Background*/

body{
    background-color:rgb(20, 20, 20);
    background-image: url(imagenes/background2.png);
    background-size: 60%;
    width: 100%;
    overflow-x: hidden;
}

/*Barra de navegación*/
nav{
    position: sticky;
    background:transparent;
    height: 120px;
    width: 100%;
    overflow: hidden;
    flex-direction: row;
    z-index: 99;
}

.start{
    position: fixed;
    background-color: transparent;
    border: none;
    padding: 40px 45px;
    cursor: pointer;
    top: 0px;
}

    .deathstar{
        height: 55px;
    }


.navbar{
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 20px;
}

.display{
    position: fixed;
    display: block;
    padding: 10px;
    margin: auto;
    text-align: center;
    top: 20px;

}

    .displaybackground{
        width: 85%;
        margin: 0px 5px;
    }

        .textdisplay{
            position: fixed;
            text-align: center;
            display: flex;
            flex-direction: row;
            float: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            top: 20px;
        }

        .textdisplay li{
            display: inline-block;
            line-height: 10px;
            margin: 40px 5px;
        }
            .textdisplay li a{
                color: white;
                padding: 10px 30px;
                border-radius: 3px;
            }

            li a.active, li a:hover{
                background-color: rgb(83, 108, 129);
                transition: 2s;
                cursor: pointer;
            }

.signup{
    position: fixed;
    background-color: transparent;
    border: none;
    right: 40px;
    top: 45px;
    cursor: pointer;
}
    .login{
        position: fixed;
        right: 100px;
        top: 55px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    .log{
         height: 40px;
     }

#check{
    display: none;
}


/*portada 1 landing*/

.home{
    top: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .obi{
        width: 100%;
        top: 0%;
    }

    .logo{
        width: 240px;
        margin-top: -600px;
        opacity: 100%;
    }

    .busqueda{
        margin: .4rem 0;
        position: absolute;
        top: 150px;
        left: 550px;
        height: 6%;
        width: 420px;
        border-radius: 5px;
        background-color: transparent;
        border-color: white;
        color: white;
    }
    ::placeholder{
        color: white;
        opacity:70%;
    }

    .lupa{
        position: absolute;
        margin-top: 164px;
        margin-left: 930px;
        display: block;
    }

    .disney{
    position: absolute;
     height: 50px;
     width: 120px;
     align-content: center;
     background: rgba(255, 255  , 255, 0.3);
     color: white;
     font-weight: bold;
     top: 720px;
     border-radius: 5px;
     cursor: pointer;
    }

    .disney:hover{
        background-color: #7FEBFB;
        color: #00424B;
    }

 /*About Us*/

.about{
    position: absolute;
    top: 780px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .about h3{
        position: absolute;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        left: 100px;
        top: 300px;
        letter-spacing: 20px;
    }

    .about p{
        position: absolute;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        left: 100px;
        top: 400px;
        width: 410px;
        text-align: justify;
    }

    .estrella{
        position: absolute;
        top: -500px;
        width: 50%;
        margin-right: -700px;
        margin-top: 700px;
        filter: opacity(80%);
    }

/*Jedis section*/

    .titlejedis{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1150px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 20px;
        font-size: 25px;
    }

.jediscontainer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

    .slider{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: none;
        width: 800px;
        height: 230px;
        margin: 5px;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    .slider p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 14px;
        color: white;
        text-align: center;
        margin-bottom: 15px;
    }

      .slider div{
        margin: 15px;
      }

      .slider div img:hover{
        transform: scale(1.10);
        transition: 0.5s;
      }


            .jinn{
                width: 100%;
            }

            .yoda{
                width: 100%;
            }

            .wan{
                width: 100%;
            }

            .windu{
                width: 100%;
            }

            .anakin{
                width: 100%;
            }

            .rey{
                width: 100%;
            }

            .ahsoka{
                width: 100%;
            }

            .luke{
                width: 100%;
            }


    .jediscontainer .controlprev{
        position: absolute;
        width: 40px;
        height: 40px;
        cursor: pointer;
        object-fit: cover;
        left: 15%;
        top: 55%;
        transform: translate(-70%, -50%);
    }

    .jediscontainer .controlnext{
        position: absolute;
        width: 40px;
        height: 40px;
        cursor: pointer;
        object-fit: cover;
        right: 15%;
        top: 55%;
        transform: translate(70%, -50%);

    }


    /*Sith*/

    .titlesith{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 200px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 20px;
        font-size: 25px;
    }

.sithcontainer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

    .slider2{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: none;
        width: 800px;
        height: 230px;
        margin: 5px;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    .slider2 p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 14px;
        color: white;
        text-align: center;
        margin-bottom: 15px;
    }

      .slider2 div{
        margin: 15px;

      }


      .slider2 div img:hover{
        transform: scale(1.10);
        transition: 0.5s;
      }


           .maul{
            width: 100%;
           }

           .palpatine{
            width: 100%;
           }

           .vader1{
            width: 100%;
           }

           .dooku1{
            width: 100%;
           }

           .bane{
            width: 100%;
           }

           .plagueis{
            width: 100%;
           }


    .sithcontainer .controlprev2{
        position: absolute;
        width: 40px;
        height: 40px;
        cursor: pointer;
        object-fit: cover;
        left: 15%;
        top: 55%;
        transform: translate(-70%, -50%);
    }

    .sithcontainer .controlnext2{
        position: absolute;
        width: 40px;
        height: 40px;
        cursor: pointer;
        object-fit: cover;
        right: 15%;
        top: 55%;
        transform: translate(70%, -50%);

    }

    .falcon{
        position: relative;
        width: 40%;
        margin-left: 50px;
        margin-top: 200px;
        opacity: 70%;
    }